body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.App h1, .App .display {
    text-align: center;
}

.gameboard {
    display: grid;
    justify-content: center;
    height: calc(60vh + 5em);
    align-items: center;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 20vh 20vh 20vh;
    gap: 2em;
}

.hole {
    height: 100%;
}

.App button {
    background: white;
    padding: 1em 3em;
    border: 1px solid black;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
}
